*.csv
*.xlsx
*.env
**/.DS_Store
__pycache__/
*.py[cod]
data/
MQS/
NLP/finbert-combined-final/
finber_eval_results/
local-gpt2-model/
visualise_gpt2.ipynb
*.pyc
*.egg-info/
venv/
.env
*.lock
.vscode/
src/backtest/data

# Jupyter Notebook outputs (keeps diffs clean)
*.ipynb
**/.ipynb
# Build artifacts
build/
dist/
**/api_test.py